@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=RocknRoll+One&display=swap");
.comidasCaserasSection, h2, .section__vacios {
  padding: 1em;
  line-height: 1;
  margin-bottom: 1em;
  letter-spacing: 3px;
  text-align: center;
  color: grey;
  background-color: #f8f8d8;
  box-shadow: 0 1px 2px grey;
  border-radius: 5px; }

h2 {
  text-align: start;
  color: #ef6009;
  background-color: #f8f8d8; }

.section__vacios {
  width: 47.5%; }

body {
  font-family: 'LobsterTwo';
  color: #e8540d;
  background-color: #fff6ea; }

.logo img {
  width: 100px;
  height: 100px; }

header {
  background-color: linear-gradient(to bottom, orange, white);
  position: fixed;
  z-index: 100; }

.modal-content {
  background-image: url(../media/contact-us-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

option {
  font-family: 'LobsterTwo'; }

footer {
  background: linear-gradient(to top, orange, white); }

footer div {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  align-items: center; }

footer div ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 1em 1em;
  min-width: 369px; }

footer div div {
  min-width: 369px; }

footer div ul a img, footer div ul .buttonContac img {
  width: 75px;
  height: 75px;
  padding: 5px; }

footer img:hover {
  transform: scale(1.1, 1.1); }

.pieContacto {
  font-size: 1.25rem;
  text-decoration: none; }

.vistazo {
  height: 6rem;
  background-image: url(../media/LeyPrimera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2px; }

.cerveza {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.muestra {
  background: #f8f8d8;
  border-radius: 1em;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px; }

.muestra--derecha {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.muestra__img {
  width: 300px;
  height: auto;
  margin-right: 30px;
  border-radius: 1em; }

.muestra__img--derecha {
  margin-right: 0px;
  margin-left: 30px; }

.muestra__titulo {
  font-size: 2rem;
  margin-bottom: 20px; }

.muestra__parrafo {
  line-height: 28px;
  font-size: 1rem;
  color: black; }

.comidasCaserasHead {
  position: fixed; }
  .comidasCaserasHead div {
    display: flex;
    background-color: #f8f8d8;
    max-height: 100px; }
    .comidasCaserasHead div nav {
      width: 100%; }
      .comidasCaserasHead div nav ul {
        display: flex;
        padding: 20px;
        justify-content: space-evenly; }
        .comidasCaserasHead div nav ul li {
          list-style-type: none;
          display: flex;
          flex-flow: row nowrap;
          padding: 20px; }

.paddingTop {
  padding-top: 116px; }

.comidasCaserasMain {
  align-items: center;
  display: flex;
  flex-direction: column; }

.comidasCaserasFooter {
  background-color: grey; }
  .comidasCaserasFooter ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    padding: 20px; }
    .comidasCaserasFooter ul li {
      padding: 20px; }

h1 {
  font-size: 3em;
  color: #ef6009;
  font-family: "RocknRoll One", sans-serif; }

h2 {
  font-size: 1.5em;
  color: #ef6009;
  font-family: "RocknRoll One", sans-serif; }

h3 {
  font-size: 1em;
  color: #ef6009;
  font-family: "RocknRoll One", sans-serif; }

h4 {
  font-size: 0.75em;
  color: #ef6009;
  font-family: "RocknRoll One", sans-serif; }

h5 {
  font-size: 0.6em;
  color: #ef6009;
  font-family: "RocknRoll One", sans-serif; }

h6 {
  font-size: 0.5em;
  color: #ef6009;
  font-family: "RocknRoll One", sans-serif; }

p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

a, .buttonContac {
  color: #ef6009;
  text-decoration: none;
  font-family: "RocknRoll One", sans-serif;
  font-weight: 700;
  font-size: 1.75em; }
  a:hover, .buttonContac:hover {
    color: red;
    text-decoration: none; }

main {
  padding-top: 130px; }

.fondoGradTop {
  background: linear-gradient(to top, orange, white); }

.fondoGradbott {
  background: linear-gradient(to bottom, orange, white); }

#Contacto {
  background-image: url(../media/barriles2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.backCard {
  background-color: #f8f8d8; }

textarea.form-control {
  resize: none; }

@font-face {
  font-family: 'LobsterTwo';
  src: url("fonts/LobsterTwo.woff2") format("woff2"), url("fonts/LobsterTwo.woff") format("woff"), url("fonts/LobsterTwo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.type-light {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 300; }

.type-regular {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400; }

.type-bold {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 700; }

.type-extrabold {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 800; }

.typeConten-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.typeConten-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.typeConten-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.typeConten-extrabold {
  font-family: "Roboto", sans-serif;
  font-weight: 800; }
