@mixin sombra {
	box-shadow:0 1px 2px $secundario
}

@mixin borde {
	border-radius: 5px;
}

.comidasCaserasSection {
	padding:1em;
	line-height: 1;
	margin-bottom: 1em;
	letter-spacing: 3px;
	text-align: center;
	color:$textoParrafo;
	background-color:$fondo;
	@include sombra;
	@include borde;
}

.section__vacios{
	@extend .comidasCaserasSection;
	width: $maxWdth/2;
}