
body {
  font-family: 'LobsterTwo';
  color: #e8540d; 
  background-color:$secundarioParrafo;
}

.logo img {
  width: 100px;
  height: 100px; }

header{
  background-color:$fondo-gradBott;
  position: fixed;
  z-index: 100;
}

.modal-content {
  background-image: url(../media/contact-us-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

option {
  font-family: 'LobsterTwo'; }

footer {
  background: linear-gradient(to top, orange, white); }
  footer div {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center; }
    footer div ul {
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      padding: 1em 1em;
      min-width: 369px; }
    footer div div {
      min-width: 369px;}
      footer div ul a img {
        width: 75px;
        height: 75px;
        padding: 5px; 
    }

footer img:hover {
  transform: scale(1.1, 1.1); }

.pieContacto {
  font-size: 1.25rem;
  text-decoration: none; }

.vistazo {
  height: 6rem;
  background-image: url(../media/LeyPrimera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2px; }


.cerveza {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
 }

.muestra {
  background: $fondo;
  border-radius: 1em;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px; }

.muestra--derecha {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.muestra__img {
  width: 300px;
  height: auto;
  margin-right: 30px;
  border-radius: 1em; }

.muestra__img--derecha {
  margin-right: 0px;
  margin-left: 30px; }

.muestra__titulo {
  font-size: 2rem;
  margin-bottom: 20px; }

.muestra__parrafo {
  line-height: 28px;
  font-size: 1rem;
  color: black; }


.comidasCaserasHead {
    position:fixed;
        div {
          display:flex;
          background-color: $fondo;
          max-height: 100px;
          nav{
            width: 100%;
            ul{
            display: flex;
            padding:20px;
            justify-content: space-evenly;
              li{
                  list-style-type: none;
                  display: flex;
                  flex-flow: row nowrap;
                   
                  padding:20px;
                a{

                }
              }
            }
          }
      }
  }

.paddingTop{
  padding-top:116px;
}

.comidasCaserasMain{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.comidasCaserasFooter {
  background-color:$secundario;
      ul{
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: end; 
            padding:20px;
        li{
            padding:20px;

          }
        }
      }


@for $i from 1 through 6 {
  h#{$i} {font-size:3em / $i;
    color:$texto;
    font-family: $font;
  } 

}

p {
  color: black; 
  font-family: $fontConten;
  font-weight: $font-regular; 
}

a{
  color:$texto;
  text-decoration: none;
  &:hover{
    color:$texto-secundario;
    text-decoration: none;
  }
  font-family: $font;
  font-weight: $font-bold;
  font-size: 1.75em;
}

main{
  padding-top:130px;

}

.fondoGradTop {
  background: $fondo-gradTop;
}

.fondoGradbott {
  background: $fondo-gradBott; 
}


#Contacto {
  background-image: url(../media/barriles2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.buttonContac {
  
  @extend a;

}

.backCard {
  background-color:$fondo;
}

textarea.form-control {
  resize: none;
}

