$primario:#fff;
$secundario:grey;
$secundarioParrafo:#fff6ea;
$fondo:#f8f8d8;
$texto:#ef6009;
$textoParrafo:grey;
$texto-secundario:red;
$fondo-gradTop:linear-gradient(to top, orange, white);
$fondo-gradBott:linear-gradient(to bottom, orange, white);


$maxWdth:95%;



$font: 'RocknRoll One', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-extra-bold: 800;

$fontConten: 'Roboto', sans-serif;
$fontConten-light: 300;
$fontConten-regular: 400;
$fontConten-bold: 700;
$fontConten-extra-bold: 800;

