@font-face {
    font-family: 'Lobster Two';
    src: url('LobsterTwo.woff2') format('woff2'),
        url('LobsterTwo.woff') format('woff'),
        url('LobsterTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('LobsterTwo-Bold.woff2') format('woff2'),
        url('LobsterTwo-Bold.woff') format('woff'),
        url('LobsterTwo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

